<%- include title.ejs %>
Service Broker - About
<%- include header.ejs %>

<h3>Service Broker</h3>
<h5>Developed by Samuel Colbran</h5><br/>
<h5>Version: 1.0.4</h5>
<p>This version includes bug fixes and performance enhancements.</a></p>
<br/>

<h5>Node.js iLab Shared Architecture</h5>
<p>This service broker is part of the node.js implementation of the iLab Shared Architecture. Please see the <a href="https://github.com/ShadovvMoon/iLabServiceBroker">full implementation GitHub page.</a></p>

<p>All of the new servers are written in node.js, making them platform independent and very lightweight. The service broker is compatible with both the original MIT batched lab servers and with the new node.js lab servers. This implementation of the iLab Shared Architecture is the only one that can accept customised authentication schemes such as LTI. If you want to embed iLabs directly and seamlessly into your learning management system (such as edX or Blackboard), the node.js implementation is for you.</p>

<p>Not to mention it's free, compatible with existing labs and incredibly easy to setup and use!</p>

<%- include footer.ejs %>